*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'lato', sans-serif;
  font-style: normal;
}

.desktop__mediaBar {
  width: 100%;
  height: auto;
  background-color: black;
  color: white;

  /* display: flex; */
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  display: none;
}

.desktop__mediaImg {
  height: 30px;
  margin-right: 10px;
}

.desktop__mediaParagraph {
  margin: 0 10px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 1rem;
  background-image: url('../images/pexels-henry-&-co-1939485.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid white;
}

.header__btn {
  border: none;
  background: none;
  padding-bottom: 2rem;
}

.header__btn span,
.main__menu span {
  font-size: 2.5rem;
}

.header__menu {
  display: none;
  position: absolute;
  background-image: url('../images/pexels-nataliya-vaitkevich-4641453.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  top: 10%;
  left: 5%;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.header__menu span {
  font-size: 3rem;
  font-weight: 600;
  color: orangered;
}

.header__img {
  max-width: 10rem;
  padding: 0.5rem;
}

.header__li {
  list-style: none;
  padding: 1rem;
}

.header__a {
  text-decoration: none;
  color: orangered;
  font-weight: 600;
}

.headline {
  display: flex;
  flex-direction: column;
  background-image: url('../images/pexels-henry-&-co-1939485.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

.headline__title {
  color: orangered;
  font-size: 1rem;
  font-weight: 100;
}

.headline__subtitle {
  color: orangered;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.7rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.headline__paragraph {
  border: 1px solid white;
  padding: 1rem;
  margin: 1rem 1rem;
  font-weight: 400;
  font-size: 0.8rem;
  background-color: rgb(239, 239, 239);
}

.headline__paragraph--about {
  border: 1px solid rgb(239, 239, 239);
  padding: 1rem;
  margin: 1rem 1rem;
  font-weight: 400;
  font-size: 0.8rem;
  background-color: rgb(246, 246, 246);
  color: rgb(150, 148, 148);
}

.headline__date {
  padding-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: rgb(102, 101, 101);
}

.headline__foro {
  font-size: 0.7rem;
  padding-bottom: 3.5rem;
  color: grey;
}

.main {
  color: white;
  background-color: rgb(50, 47, 47);
  background-image: url(../images/marca-de-la-cruz.png);
  background-size: 10%;
  margin: 0;
  text-align: center;
}

.main__title,
.partner__title {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  margin: 0 auto;
  padding: 2.5rem 2rem 0.5rem 2rem;
}

.main__hr,
.tutors__hr,
.about__hr,
.graduates__hr,
.partner__hr {
  width: 2rem;
  margin: 0 auto;
  border-color: orangered;
}

.main__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 1rem;
  align-items: center;
  max-width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid white;
  background-color: grey;
}

.main__subtitle {
  color: orangered;
  font-size: 1rem;
}

.main__paragraph {
  font-size: 0.7rem;
}

.main__btn {
  padding: 1.5rem;
  width: 43%;
  background-color: orangered;
  margin-bottom: 1rem;
}

.main__btn > a {
  color: white;
  text-decoration: none;
}

.tutors,
.tutors__content,
.about__content,
.graduates__content,
.about,
.graduates {
  display: flex;
  flex-direction: column;
}

.tutors__title,
.about__title,
.graduates__title {
  margin: 0 auto;
  padding: 2rem 2rem 0.5rem 2rem;
  font-weight: 500;
  font-size: 1.5rem;
}

#professionalProfiles {
  padding-left: 1rem;
}

.tutors__profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1.5rem;
  gap: 1rem;
  max-width: 80vh;
  margin: 0 auto;
  background-image: url(../images/cuadricula.jpg);
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  background-size: 32%;
}

.profile__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile__name {
  font-size: 1.5rem;
}

.profile__expertise {
  color: orangered;
  font-size: 0.7rem;
  font-style: italic;
}

.profile__hr {
  width: 2rem;
}

.profile__role {
  font-size: 0.7rem;
  font-style: italic;
}

.tutors__btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  width: 85%;
}

.tutors__icon {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.tutors__arrow {
  color: orangered;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  font-size: 0.5rem;
}

.footer__logo,
.footer__paragraph {
  max-width: 8rem;
  margin: 1rem auto;
}

.headline__contact,
.headline__mail {
  max-width: 20rem;
  font-size: 0.7rem;
  padding-bottom: 1rem;
  color: grey;
  margin: 0 auto;
  text-align: center;
}

.about__paragraph,
.graduates__paragraph {
  max-width: 20rem;
  font-size: 0.7rem;
  padding: 1rem;
  color: grey;
  margin: 0 auto;
  text-align: center;
}

.about__logo {
  max-width: 15rem;
  margin: 1.5rem auto;
  border: 1px solid lightgray;
  padding: 1.5rem;
}

.about__hr--long {
  border-color: rgb(242, 237, 237);
}

.graduates__bkg {
  background-image: linear-gradient(rgba(236, 82, 66, 0.8), rgba(236, 82, 66, 0.8)), url('../images/graduate2.jpg');
  background-position: center;
  color: white;
  text-align: center;
  padding: 5rem;
  margin: 2rem;
}

.graduates__bkg2 {
  background-image: linear-gradient(rgba(236, 82, 66, 0.8), rgba(236, 82, 66, 0.8)), url('../images/graduate1.jpg');
  background-position: center;
  color: white;
  text-align: center;
  padding: 5rem;
  margin: 2rem;
}

.partner {
  text-align: center;
  background-color: #414246;
}

.partner__logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.partner__logo {
  max-width: 100%;
  height: auto;
  width: 30%;
}
