*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'lato', sans-serif;
    font-style: normal;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 1rem;
}

.header__btn {
    border: none;
    background: none;
    padding-bottom: 2rem;
}

.header__menu {
    display: none;
}

.headline {
    display: flex;
    flex-direction: column;
    /* background-image: url('images/pngwing.com.png');
    position: top 0% right 0%;
    background-repeat: no-repeat;
    background-size: 100%; */
    padding: 1rem;
}

.headline__title {
    color: orangered;
    font-size: 1rem;
    font-weight: 100;
}

.headline__subtitle {
    color: orangered;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.7rem;
    padding-bottom: 2rem;
    margin: 0px auto;
}

.headline__paragraph {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem 1rem;
    font-weight: 400;
    font-size: .8rem;
}

.headline__date {
    padding-bottom: .5rem;
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(102, 101, 101);
}

.headline__foro {
    font-size: .7rem;
    padding-bottom: 3.5rem;
    color: grey;
}

.main {
    color: white;
    background-color: rgb(50, 47, 47);
    margin: 0;
    text-align: center;
}

.main__title,
.partner__title {
    color: white;
    font-weight: 500;
    font-size: 1rem;
    margin: 0px auto;
    padding: 2.5rem 2rem .5rem 2rem;
}

.main__hr,
.tutors__hr,
.about__hr,
.graduates__hr,
.partner__hr {
    width: 2rem;
    margin: 0px auto;
    border-color: orangered;
}

/* .main__content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
} */

.main__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 1rem;
    align-items: center;
    max-width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid white;
    background-color: grey;
}

.main__subtitle {
    color: orangered;
    font-size: 1rem;
}

.main__paragraph {
    font-size: .7rem;
}

.main__btn {
    padding: 1.5rem;
    width: 43%;
    background-color: orangered;
    margin-bottom: 1rem;
}

.main__btn>a {
    color: white;
    text-decoration: none;
}

.tutors,
.tutors__content,
.about__content,
.graduates__content,
.about,
.graduates {
    display: flex;
    flex-direction: column;
}

.tutors__title,
.about__title,
.graduates__title {
    margin: 0 auto;
    padding: 2rem 2rem .5rem 2rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.tutors__btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    width: 85%;
}

.tutors__arrow {
    color: orangered;
}

.footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    font-size: .5rem;
}

.footer__logo,
.footer__paragraph {
    max-width: 8rem;
    margin: 1rem auto;
}

.headline__contact,
.headline__mail {
    max-width: 20rem;
    font-size: .7rem;
    padding-bottom: 1rem;
    color: grey;
    margin: 0 auto;
    text-align: center;
}

.about__paragraph,
.graduates__paragraph {
    max-width: 20rem;
    font-size: .7rem;
    padding: 1rem;
    color: grey;
    margin: 0 auto;
    text-align: center;
}

.about__logo {
    max-width: 15rem;
    margin: 1.5rem auto;
    border: 1px solid lightgray;
    padding: 1.5rem;
}

.about__hr--long {
    border-color: rgb(242, 237, 237);
}

.graduates__bkg {
    background-image: linear-gradient(rgba(236, 82, 66, 0.8), rgba(236, 82, 66, 0.8)), url('./images/graduate2.jpg');
    background-position: center;
    color: white;
    text-align: center;
    padding: 5rem;
    margin: 2rem;
}

.partner {
    text-align: center;
    background-color: rgb(86, 84, 84);
}

.partner__logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.partner__logo {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    width: 6rem;
    max-width: 100%;
    height: auto;
    color: grey;
}

.airbnb {
    height: auto;
    width: 4rem;
}